.strike
{
	text-decoration-line : line-through;
}

.underline
{
	text-decoration-line : underline;
}

#todoContainer
{
	width : 100%;
	display : flex;
	align-items: center;
	flex-direction: column;
	padding : 1rem .2rem;
}


.todoInput
{
	width: 90%;
	display : flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.todoInput .field
{
	width : 80%;
	display : flex;
	align-items: center;
	justify-content: center;
}

.todoInput .field .control
{
	display : flex;
	align-items: center;
	justify-content: center;
	width : 100%
}

.todoInput input 
{
	width : 85%;
}

.todoInput button
{
	width : 50%;
}

#todoLists
{
	width : 100%;
	display : flex;
	margin-top : 15px;

}

#todoList
{
	width : 50%;
	margin-left : 1rem;
	display : flex;
	flex-direction: column;
	align-items: center;
	border-right : 1px solid #6a89cc;
	padding-right : 1.5rem;
}

#finishedList
{
	width : 50%;
	display : flex;
	flex-direction: column;
	align-items: center;
	margin-right : 1rem;
	padding-left : 1.3rem;
}

#todo
{
	width : 100%;
	margin : .5rem 0;
	background-color : #dcdde1;
	border-radius : 10px;
}

#todo input
{
	margin-left : 1rem;
}

#todo div
{
	margin-left : 1rem;
	overflow-wrap: break-word;
}

#todo:hover
{
	background-color : #a5b1c2;
	border : .5px solid grey;
}

#editTodo
{
	width : 100%;
	background-color : #dcdde1;
	border-radius : 10px;
	margin : .5rem 0;
	border : .5px solid grey;
}

#editTodoInput
{
	margin : .5rem .5rem;
}

#editTodoInput textarea
{
	align-self : center;
	height : 50%;
	width : 100%;
	resize : none;
}

#editTodoButtons
{
	margin-left : .5rem;
	margin-top : .5rem;
}

#editTodoButtons button
{
	height : 2.2rem;
	width : 2.2rem;
	border : none;
}

#editTodoButtons .deleteBtn
{
	margin-left : auto;
	margin-right : .5rem;
}

#editTodoButtons button:hover
{
	background-color : #a5b1c2;
}

#changeOrderButtons
{
	align-self : center;
	margin-left : .5rem;
	display : flex;
	flex-direction : column;
}

#changeOrderButtons button
{
	margin-left : auto;
}


@media only screen and (max-width : 600px)
{


	#todoContainer
	{
		padding : 5px;
	}

	#todoLists
	{
		flex-direction : column;
		align-items: center;
	}

	#todoList
	{
		border-right : none;
		padding-right : 0px;
		margin-left : 0;
	}

	#finishedList
	{
		margin : 1rem 0;
		padding-left : 0px;
	}


	.todoInput
	{
		margin-bottom : 5px;
	}
}
