*
{
	margin : 0;
	padding : 0;
	border-spacing: border-box;
	font-family : Tahoma, Geneva, sans-serif;
}

html
{
	height : 100%;
}


body
{
	min-height : 100%;
	background-color : #f8c291;
}


.strike
{
	text-decoration-line : line-through;
}


#root
{
	width : 100%;
	min-height : 100vh;
	color : #4a69bd;
	display : flex;
	align-items: center;
	flex-direction: column;
}



