#projectTodos
{
	width : 90%;
	min-height : 100vh;
	display : flex;
	flex-direction : column;
	align-items : center;
	padding : 1.5rem 1rem;
	border-radius : 15px;
	margin-bottom : 1rem;
}

.projectName
{
	margin-left : 1.2rem;
	font-size : 1.15rem;
	font-weight : 700;
	max-width : 80%;
	overflow-wrap: break-word;
}

.projectsH2
{
	margin-left : 1.2rem;
	font-size : 1.15rem;
	font-weight : 700;
}

#projectBar
{
	width : 100%;
	display : flex;
	justify-content: center;
	align-items : center;
}

#projectBar #cog
{
	margin-left : auto;
	margin-right : 1rem;
	background-color : #dcdde1;
}

#projectBar #cog:hover
{
	background-color : #d1d8e0;
}

#projectSettings
{
	width : 35%;
	height : 40%;
	display : flex;
	flex-direction : column;
	position : absolute;
	z-index : 2;
	top : 11rem;
	right : 7rem;
	background-color : #dcdde1;
	box-shadow : 10px 10px 25px grey;
}

#exitProjectSettings
{
	margin-left : auto;
}

#projectSettings h3
{
	align-self : center;
}

#projectSettings button
{
	background-color : #d1d8e0;
	border : none;
}

#projectSettings button:hover
{
	background-color: #a5b1c2;
}

#projectSettings input
{
	margin-top : 1rem;
}

#projectSettings .icon
{
	width : .5rem;
	height : .5rem;
}

#projectSettings .icon .check
{
	color : #20bf6b;
}

#projectSettings .icon .exit
{
	color : #eb2f06;
}

#projects
{
	width : 100%;
	/*min-height : 75vh;*/
	display : flex;
	flex-direction : column;
}

#projectInput
{
	width : 70%;
}

#saveContainer
{
	display : flex;
	justify-content : flex-end;
}

#saveContainer button
{
	width : 20%;
}

#buttons
{
	width : 80%;
	display : flex;
	flex-wrap : wrap;
	align-self : center;
	align-content : space-between;
	padding : .25rem;
}


.editButtons
{
	display : flex;
}

.editButtons *
{
	border : none;
	width : 10px;
	height : 10px;
	padding : 5px;
}



.iconStyle
{
	display : flex;
	align-items : center;
	justify-content : center;
}


.project
{
	margin : .5rem;
	max-width : 90%;
}


.projectButton
{
	padding : 1.5rem 1.0rem;
	background-color : #1e3799;
	color : #f8c291;
	border-radius : .5rem;
	border : none;
	display : inline-block;
	overflow-wrap : break-word;
	max-width : 100%;
}

.projectButton:hover
{
	color : white;
	background-color : #0c2461;
}


#editProject
{
	position : absolute;
	z-index : 2;
	width : 25%;
	box-shadow : 10px 10px 15px black;
	display : flex;

}

#controlButtons
{
	margin-top : 1.5rem;
	margin-bottom : 1rem;
	width : 90%;
}

#addTodoBtnContainer
{
	margin-right : auto;
	margin : 0 auto 0 5rem;
}

#saveButton
{
	margin-left : auto;
}

/*input placeholder*/

::placeholder
{
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: red;
  	opacity: 1;
}

:-ms-input-placeholder 
{ 
	/* Internet Explorer 10-11 */
  	color: red;
}

::-ms-input-placeholder
{
  /* Microsoft Edge */
  color: red;
}



@media only screen and (max-width : 600px)
{
	#controlButtons
	{
		margin : 0;
	}
}